@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
		</li>
		<li class="nav-item">
			<a id="aLogout"
			   class="nav-link btn btn-link text-dark"
			   asp-area="Identity"
			   asp-controller="Account"
			   asp-action="Logout">
				Logout
			</a>
			<form id="frmLogout"
				 class="d-none"
				 asp-area="Identity"
				 asp-page="/Account/Logout"
				 asp-route-returnUrl="@Url.Action("Create", "MeditationApp", new {area = ""})"
				 method="post">
				<button id="btnLogout" type="submit" class="nav-link btn btn-link">Logout</button>
			</form>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
		</li>
	}
</ul>